
/*page*/
.page{
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items:flex-start;
  width: 100%; /* Ensure it occupies the full width */
  min-height: 100vh;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  font-family: 'Poppins', sans-serif;
  flex-grow: 1;
  background-color: silver;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* sidebar style*/
.sidebar-container {
  min-width: 100px; /* Fixed width of the sidebar */
  display:flex;
  flex-direction: column;
  align-items: stretch; /* Ensure it stretches to the full height */
  height: 100vh;
  background-color: white;
  margin: 1%;
  border-radius: 10px
}

.image-icon {
  width: 60px;
  height: 65px;
}

.link-To-Feature-Container{
  border: solid transparent;
  text-align: center;
  margin: 10%;
  padding: 3%;
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-To-Feature-Container:hover{
  opacity: 0.7;
}

.link-To-Feature-Container.Active{
  border: solid grey;
  border-radius: 10%;
  box-sizing: border-box
}

/*Step-indicator*/
.Stepindicator-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  margin: 0.5% ;
  width: 100%;
  height: 100%;
  
}

.Stepindicator-container img {

  flex: 0 0 10%;
  height: 30%;
  max-width: 50px;
  object-fit: contain;
}

.Stepindicator-container-img-faded{
  opacity: 0.3;
}

.stepindicator-description {
  width: 30%;
  margin-left: 0.5%;
  position: relative; 
}

.stepindicator-description h4 {
  display: flex;
  align-items: center; 
  text-wrap: nowrap;
}

.stepindicator-description ::after{
  content: "";
  height: 2px;
  background-color: grey;
  margin: 0 3% 0 3%;
  width: 100%;
}

.stepindicator-description-no-line{
  margin-left: 0.5%;
  width: 20%;
}

.stepindicator-description-no-line h4 {
  display: flex;
  align-items: center; 
  text-wrap: nowrap;
  
}





/*Generator */
.user-manuel-container {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin: 1% 1% 0 1%;
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

.user-manuel-container h4 {
  margin: 1% 1% 1% 1%
}

.user-manuel-container p {
  margin: 0.5% 1% 0.5% 1%
}

.user-manual-and-generator-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.generatorstep1-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% 1% 1% 1%;
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

.generatorstep2-wrapper-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1% 1% 0;
  width: 100%;
}

.generatorstep2-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% 0 0 1% ;
  padding: 0 1%  1%;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 100%;
}

.generatorstep2-container 
.input-detail{
  justify-content: flex-start;
  margin: 2% 2% 2% 3%;
  width: 90%;
}

.generator-row-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%
}

.row-container{
  margin-top: 30px;
  flex-direction: column;
  display:flex;
  flex:1;
  justify-content: center ;
  align-items: flex-start;
  width: 60%;
  text-wrap: nowrap;
}

.row-container h5 {
  margin: 0 0 1% 0
}

.back-generator-button-container{
  margin: 3% 0 3% 0;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box
}

.back-generator-button-container .button-generate{
  margin-right: 20%;
  margin-left: 1%;
}

.back-generator-button-container .button{
  padding: 2% 3%;
}

.next-btn-container{
  margin: 3% 0 3% 0;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box
}

.next-btn-container .button{
  margin-right: 19%;
}

/* button styles */
.button{
  cursor:pointer;
  font-weight: bold;
  color: white;
  background-color: midnightblue;
  border-radius: 10px;
  padding: 1.5% 2.5%;
  border: none;
  font-size: 12px;
  width: auto;
  height: auto;
  display: inline-block;
}

.button-back{

  color: midnightblue;
  background-color: lightgrey;
}

.button:hover {
  opacity: 0.7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.template-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.template-btn-container{
  margin-top: 10px;
  background-color: silver;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for status bar */
.status-bar-tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.status-bar-container {
  background-color: white;
  border-radius: 5px;
  margin: 1% 1% 0 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 40px;
  box-sizing: border-box
}

.status-bar-tips-container 
.tips-container {
  background: white ;
  width: 90%;
  margin : 1% 0 0 auto;
  padding-left: 1%;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid;
  border-color: lightcoral;
}

.status-bar-tips-container 
.tips-container p{
  margin: 1% 0 1% 0;
  color: Dimgray;
}

.status-bar-tips-container 
.tips-container h5{
  
  margin: 1% 0 1% 0;
}


.status-bar-container img {
  flex: 0 0 10%;
  height: 50%;
  object-fit: contain;
}

.status-bar-container h5 {
  flex: 0 0 30%;
}

.status-bar-container p {
  flex: 0 0 50%;
  font-size: 14px;
  color: Dimgray;
}

.status-bar-container .arrow-button {
  margin: 0 5% 0 0;
  flex: 1;
  height: 60%;
  object-fit: contain;
  background: none;
  border: none;
}


/* Styles for RaioBtn */
.mode-label {
  border-radius: 5px;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  padding:10px;
  margin: 5px;
  -webkit-tap-highlight-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
}

.mode-input {
  margin: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

.mode-label:hover{
  background-color: lightgray
}

.mode-label.checked{
  background-color: white;
  color: midnightblue;
  font-weight: bold;
}

.custom-mode {
  display: none;
}

/*FileDrop */
.File-Drop-Zone {
  border-radius: 10px;
  border: thick dashed;
  border-color: gray;
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex:1;
  padding: 5%
}

.File-Drop-Zone:hover {
  background-color: whitesmoke;
}

.File-Drop-Zone.has-file {
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
}

.file-uploaded-name {
  color: midnightblue;
  font-weight: bold;
}

.span-cursor{
  cursor:pointer;
  font-weight: bold;
  color: white;
  background-color: midnightblue;
  border-radius: 20px;
  padding: 10px 50px;
  white-space: nowrap;
}

.span-cursor:hover{
  opacity: 0.7 ;
}

.file-drop-zone-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/*input */
.row-input {
  border-radius: 10px;
  padding: 2%;
  width: 97%
}

input[type = 'file']{
  display: none;
}

.staff-input-container {
  margin-top: 30px;
  flex-direction: column;
  display:flex;
  flex:1;
  justify-content: center ;
  align-items: flex-start;
  width: 60%;
  text-wrap: nowrap;
}

.staff-input-container h5 {
  margin: 0 0 1% 0
}

.staff-name-input {
  
  border-radius: 10px;
  padding: 2%;
  width: 97%
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}



/*template card*/

.highlight-if-selected{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  background-color: whitesmoke;
  outline: medium solid transparent;
}

.highlight-if-selected:hover{
  background-color: gainsboro;
}


.highlight-if-selected.selected{
  outline: medium solid black;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
}

.file-info {
  white-space: nowrap;
  font-size: 12px;
}

.selected-status{
  font-size: 14px;
  font-weight: bold;
  color: dimgray;
}

.selected-status.selected{
  font-size: 14px;
  font-weight: bold;
  color: firebrick;
}


/* replace template */
.replaceTemplate-container {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
}

/*file upload*/
.file-upload-function-container {
  display:flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin: 1%;
}

.file-upload-function-header-container{
  display: flex;
  flex:1;
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
}

.file-upload-function-header-container h4{
  margin: 2% 0 2% 2% ;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-image{
  height: 75px;
  width: 75px;
}

/*container in selectTemplate*/
.flex-container-template-type-header {
  display: flex;
  flex:1;
  text-align: left;
  margin-left: 2%;
  width: 100%;
  text-wrap: nowrap;
  
}
.flex-container-template-type-header h4 {
  margin: 1% 0 1% 0;
}


.flex-container-template-type-header-h5{
  display: flex;
  flex:1;
  text-align: left;
  line-height: 1;
  max-width: 100%;
  margin-left: 2%;
  text-wrap: nowrap;
  align-items:center;
}

.flex-container-template-type-header-h5 h5{
  margin: 1% 0 1% 0;
}

.flex-container-template-type-header-h5::after{
  content: "";
  display: flex;
  align-items: center;
  flex:1;
  height: 3px;
  background-color: grey;
  margin: 0 1% 0 1%;
}


.existing-template-container,
.flex-container-selectTemplate{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: left;
  align-items: left;;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  overflow:hidden;
}


.flex-container-POPR-selectTemplate {
  
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 0 0 1% 1%;
}

.flex-container-POPR-selectTemplate:hover {
  cursor: pointer;
}

/* Tooltip container */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Tooltip text */
[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position above the element */
  left: 75%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  z-index: 1;
}

/* Show the tooltip text on hover */
[data-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}


/*spinner*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%
}

.loader {
  margin: 1%;
  border: 16px solid lightgray; 
  border-top: 16px solid midnightblue; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
