/* Nav bar styles */
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-center .nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar-center .nav-il {
  margin-right: 1rem;
}

