/*page*/
.page{
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items:flex-start;
  width: 100%; /* Ensure it occupies the full width */
  min-height: 100vh;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  font-family: 'Poppins', sans-serif;
  flex-grow: 1;
  background-color: lightgrey;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* sidebar style*/
.sidebar-container {
  min-width: 200px; /* Fixed width of the sidebar */
  display:flex;
  flex-direction: column;
  align-items: stretch; /* Ensure it stretches to the full height */
  height: 100vh;
  background-color: white;
  margin: 1%;
  border-radius: 10px
}

.image-icon {
  width: 75px;
  height: 75px;
}

.link-To-Feature-Container{
  border: thick solid transparent;
  text-align: center;
  margin: 25%;

}

.link-To-Feature-Container.Active{
  border: thick solid grey;
  border-radius: 10%;
}


.StepIndicator{
  display: flex;
  align-items: center;
  justify-content: center;
}

.StepIndicator-center .nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.StepIndicator-center .nav-il {
  margin-right: 1rem;
}

.StepIndicator-center .active{
  border-bottom:1px dashed black;
  font-size: 1.2rem;
}


/*Generator */
.generatorstep-container {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
}

.row-container{
  margin-top: 10px;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
}
.button-container{
  margin-top: 20px;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.next-btn-container{
  margin-top: 5%;
  margin-right: 10% ;
  margin-bottom: 10% ;
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

/* button styles */
.button{
  background-color: black;
  border-radius: 10%;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.template-container {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.template-container p {
  margin: 0 0 5px 0;
  padding: 0;
}

.template-btn-container{
  margin-top: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for RaioBtn */
.mode-label {
  border-radius: 5px;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  padding:10px;
  margin: 5px;
  -webkit-tap-highlight-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.mode-input {
  margin: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

.mode-label.checked{
  background-color: white;
}

.custom-mode {
  display: none;
}

/*FileDrop */
.File-Drop-Zone {
  margin: 0.3rem;
  border: 0.3rem;
  border-radius: 5px;
  border-style: dashed;
  border-color: gray;
  padding: 3rem 9rem 3rem 9rem;
}

.File-Drop-Zone.has-file {
  border-style: solid;
  border-color: black;
}

.span-cursor{
  cursor:pointer;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px 50px;
  white-space: nowrap;
}

.file-drop-zone-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/*input */
.row-input {
  border-radius: 5px;
  padding: 3%;
}

input[type = 'file']{
  display: none;
}

.staff-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.staff-name-input {
  width: 200px;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 5%;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}



/*template card*/
.template-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 2%;
}

.highlight-if-selected{
  padding: 5%;
  margin: 3%;

}


.highlight-if-selected.selected{
  outline: medium solid black;
  border-radius: 3%;
  padding: 5%;
  margin: 3%;
}

.file-info {
  background-color: lightgrey;
  white-space: nowrap;
}

.selected-status{
  font-size: 18px;
  color: gray;
}


/* replace template */
.replaceTemplate-container {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
}

/*file upload*/
.file-upload-function-container {
  display:flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin: 1%;
}

/*container in selectTemplate*/
.existing-template-container{
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: left;
  justify-content: left;
  width: 100%;
}

.flex-container-template-type-header {
  display: flex;
  flex:1;
  text-align: left;
  margin-left: 3%;
  width: 100%;
}

.flex-container-template-type-header h4{
  display: flex;
  flex:1;
  text-align: left;
  line-height: 1;
  margin:1%;
  width: 100%;
}


.flex-container-selectTemplate {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.flex-container-POPR-selectTemplate {
  
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.flex-container-POPR-selectTemplate:hover {
  cursor: pointer;
}

